.idea
.vscode
*.pdf
Financial\ Aid
Certificates

FE_Web_UI_Frameworks/Bootstrap_4/Week1_to_Week4/node_modules
FE_Web_UI_Frameworks/Bootstrap_4/Week1_to_Week4/PA
FE_Web_UI_Frameworks/Bootstrap_4/Week1_to_Week4/Ideation
FE_Web_UI_Frameworks/Bootstrap_4/Week1_to_Week4/dist

FE_Web_Development_with_React/Week-1/Lectures
FE_Web_Development_with_React/Week-1/React/confusion/node_modules